name: First Workflow
#on: workflow_dispatch
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: echo "Hello World"

      - name: Print goodbye
        run: echo "Goodbye World"

      - name: MultiLine run
        run: |
          echo "Multiline command 1"
          echo "Multiline command 2"

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
  build:
    needs: first-job
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          java-package: 'jdk'
          architecture: 'x64'
          check-latest: false
          server-id: 'github'
          server-username: ${{ github.actor }}
          server-password: ${{ secrets.GITHUB_TOKEN }}
          overwrite-settings: true
          job-status: 'success'

          #      - name: Update Maven Dependencies
          #        working-directory: /home/runner/work/hello-world-test/hello-world-test
          #        run: mvn versions:update-properties
      - name: Set new version
        working-directory: /home/runner/work/hello-world-test/hello-world-test
        run: mvn -B versions:set -DnewVersion=1.0.1 -DgenerateBackupPoms=false

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build JAR with Maven
        run: mvn -B clean package


       
